
html{
  font-family:"Verdana", sans-serf;
  color:   #FFFFFF;
  font-size:12px;
  height:  100%;
  width:   100%;
}



header, footer{
  background-color:#FFEDB9;
  border: 1px solid black;
  color:black;
  flex-grow: 1;
}

body nav,body aside {
  background-color: #CBCCFF;
}

.content {
  background-color: #DEDE84;
}

nav, aside,.content {
  color:   black;
  border: 1px solid black;
}

body{
 display: flex;
 height:  100%;
 flex-direction:column;
}

p {
  margin:10px;
}

main{
  flex-grow: 12;
  display: flex;
}
.content{
 flex-grow: 5;
}

aside{
   order: 3;
}

nav, aside{
  flex-grow: 1;
}

@media screen and (max-width: 620px){
  main{
   flex-direction: column;
  }
  nav{
     order: 1;
  }
  aside{
   order: 3;
    }

}
